{% comment %} 'Why Buy Vidlogix' popup - am {% endcomment %}
<div id="value-one-popup" class="why-modal">
  <div class="modal-content">
    <div class="why-buy-popup" style="color:black;">
      <div id="why-outer-modal" class="modal modal--square modal--mobile-friendly">
        <div id="why-modal-inner" class="modal__inner"   style="max-width:500px;">
          <div class="modal__centered medium-up--text-center">
            <span class="close-why-popup">&times;</span>
            <div class="modal__centered-content">
              <div class="newsletter">
                <div class="text-center page-width page-width--narrow">
                  <div class="theme-block why-rich-text"      style="margin-bottom:0;">
                    <h2 class="section-header__title">Free Shipping over $49</h2>
                    <br><br>
                    <h2 class="section-header__title">and 60 Day Returns</h2>
                  </div>
                  <div class="theme-block why-rich-text"     style="margin-bottom:0;">
                    <h4 class="section-header__title"     style="padding: 30px 15px 30px 15px; background-color: #f2f2f2;">
                      Enjoy free shipping on orders over $49 to anywhere in the continental US.</h4>
                  </div>
                  <div class="theme-block why-rich-text"     style="margin-bottom:0;">
                    <h4 class="section-header__title" >
                      Take some time, make sure it's the right product for you. If you don't love it, send it back.</h4>
                  </div>

                  <div class="theme-block why-rich-text">
                    <h6 class="section-header__title" style="text-transform:none;">
                      Learn more about our Shipping Policy <span style="text-decoration: underline;">here.</span></h6>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="value-two-popup" class="why-modal">
  <div class="modal-content">
    <div class="why-buy-popup" style="color:black;">
      <div id="why-outer-modal" class="modal modal--square modal--mobile-friendly">
        <div id="why-modal-inner" class="modal__inner"   style="max-width:550px;">
          <div class="modal__centered medium-up--text-center">
            <span class="close-why-popup">&times;</span>
            <div class="modal__centered-content">
              <div class="newsletter">
                <div class="text-center page-width page-width--narrow">
                  <div class="theme-block why-rich-text"   style="margin-bottom:0;">
                    <h2 class="section-header__title">Free 3-Year Warranty with Shop Pay</h2>
                  </div>
                  <div class="theme-block why-rich-text"     style="margin-bottom:0;">
                    <h4 class="section-header__title"     style="padding: 30px 15px 30px 15px; background-color: #f2f2f2;">
                      Shop Pay blah blah blah blahblah blahblah blahblah blahblah blahblah blah</h4>
                  </div>
                  <div class="theme-block why-rich-text"     style="margin-bottom:0;">
                    <h4 class="section-header__title" style="text-transform:none;">
                      Shop Pay blah blah blah blahblah blahblah blahblah blahblah blahblah blah blahblah blahblah blahblah</h4>
                  </div>
                  <div class="theme-block why-rich-text">
                    <h6 class="section-header__title" style="text-transform:none;">
                      Learn more about Shop Pay <span style="text-decoration: underline;">here.</span></h6>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>